<!doctype html>
<html lang="en" ng-app='RPS'>
  <head>
    <meta charset="utf-8">
    <title>Github user search</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
     <script src="public/js/app.js"></script>
    <script src="public/js/GameController.js"></script>
    <script src="public/js/GameFactory.js"></script>
  </head>
  <body >
    <h1> Rock, paper, scissors </h1>
      <section ng-controller="GameController as ctrl">
      <button class="btn" ng-click="ctrl.setTab(1)">Play with Computer</button>
      <button class="btn" ng-click="ctrl.setTab(2)">Play with Tactical Computer</button>
      <div ng-show="ctrl.isSet(1)">
        <form>
          <select type="text" ng-model="item" class="input-large input-large-altered">
            <option value="rock">rock</option>
            <option value="paper">paper</option>
            <option value="scissors">scissors</option>
            <option value="lizard">lizard</option>
            <option value="spock">spock</option>
          </select>
          <button class="clear" ng-click="ctrl.computerVsPlayerResults(item)">Play</button>
            Computer choice is: {{ctrl.computerChoice}}<br>
            Frist round:  {{ctrl.messages[0]}}<br>
            Second round: {{ctrl.messages[1]}}<br>
            Third round:  {{ctrl.messages[2]}}<br><br>
            {{ctrl.gameWinner}}<br>
          <button class="btn" ng-click="ctrl.resetGame()">Play again</button>
        </form>
      </div>
      <div ng-show="ctrl.isSet(2)">
        <form >
          <select type="text" ng-model="item" class="input-large input-large-altered">
            <option value="rock">rock</option>
            <option value="paper">paper</option>
            <option value="scissors">scissors</option>
            <option value="lizard">lizard</option>
            <option value="spock">spock</option>
          </select>
          <button class="btn" ng-click="ctrl.tacticalComputerVsPlayerResults(item)">Play</button>
            Computer choice is: {{ctrl.computerChoice}}<br>
            Frist round:  {{ctrl.messages[0]}}<br>
            Second round: {{ctrl.messages[1]}}<br>
            Third round:  {{ctrl.messages[2]}}<br><br>
            {{ctrl.gameWinner}}<br>
          <button class="btn" ng-click="ctrl.resetGame()">Play again</button>
        </form>
      </div>
    </section>
  </body>
</html>